.h5p-shape-editor .h5peditor-label {
  margin: 0;
  font-size: 0.9em;
}

.h5p-shape-editor .h5peditor-label:before {
  content: "";
  width: 1.9em;
  height: 1.9em;
  margin: 0.3em 1em 0.3em 0.3em;
  vertical-align: middle;
  display: inline-block;
}

.h5p-shape-editor .h5peditor-label.h5peditor-required:after {
  display: none;
}

.h5p-shape-editor > div {
  margin: 0;
  padding: 0.5em 0;
}

.h5p-shape-editor > div:not(:first-child) {
  border-top: 1px solid #e4e4e4;
}

.h5p-shape-editor .field .h5peditor-label-wrapper {
  float: left;
}

.h5p-shape-editor .field select,
.h5p-shape-editor .field .sp-replacer {
  float: right;
  padding: 0.3em;
  border-radius: 0;
}

.h5p-shape-editor .field select {
  padding: 0.5em 2em 0.5em 1em;
}

.h5p-shape-editor .field .sp-replacer .sp-preview {
  width: 34px;
  height: 26px;
}

.h5p-shape-editor .field .sp-replacer .sp-dd {
  padding: 6px 0;
}

/* Editor fields icons */
.h5p-shape-editor .field-name-fillColor .h5peditor-label:before {
  background: transparent url(../icons/icon-fill-color.svg) no-repeat center;
}

.h5p-shape-editor .field-name-lineColor .h5peditor-label:before {
  background: transparent url(../icons/icon-line-color.svg) no-repeat center;
}

.h5p-shape-editor .field-name-lineWeight .h5peditor-label:before {
  background: transparent url(../icons/icon-line-weight.svg) no-repeat center;
}

.h5p-shape-editor .field-name-lineStyle .h5peditor-label:before {
  background: transparent url(../icons/icon-line-style.svg) no-repeat center;
}

.h5p-shape-editor .field-name-lineRadius .h5peditor-label:before {
  background: transparent url(../icons/icon-line-radius.svg) no-repeat center;
}
